<!--Footer (pie de pagina)-->
<div class="footer">
  <div class="footer-menu hidden-xs">
    <div class="col-md-2">
      <ul>
        <li><b>CURSOS PRESENCIALES</b></li>
        <li><a shape="rect" routerLink="/curso-presencial-spring-boot-y-spring-cloud">Spring Boot y Cloud</a></li>
        <li><a shape="rect" routerLink="/curso-presencial-oracle-plsql-11g">Oracle PL/SQL 11G</a></li>
        <li><a shape="rect" routerLink="/curso-presencial-oracle-java8-associate">Oracle Java 8 Associate</a></li>
      </ul>
    </div>
    <div class="col-md-2">

      <ul>
        <li><b>CURSOS ONLINE </b></li>
        <li><a shape="rect" routerLink="/diplomado-online-angular-y-vuejs">Angular y Vue.JS</a></li>
        <li><a shape="rect" routerLink="/diplomado-online-java">Diplomado Java</a></li>
        <li><a shape="rect" routerLink="/diplomado-online-net">Diplomado .NET</a></li>
        <li><a shape="rect" routerLink="/curso-online-oracle-java8-associate">Java 8 Associate</a></li>
        <li><a shape="rect" routerLink="/curso-online-spring-boot-y-spring-cloud">Spring Boot y Spring Cloud</a></li>
        <li><a shape="rect" routerLink="/curso-online-spring-professional-certification">Spring Professional Certification</a></li>
      </ul>

    </div>
    <div class="col-md-2">
      <ul>
        <li><b>EMPRESA</b></li>
        <li><a routerLink="/empresa/" shape="rect">Quienes
          somos</a></li>
        <li><a routerLink="/campus/" shape="rect">Campus.joedayz.pe</a></li>
        <li><a routerLink="/joefact/" shape="rect">JOEFACT</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li><b>RECURSOS EN LA WEB </b></li>
        <li><a href="http://blog.joedayz.pe/" shape="rect">Blog</a></li>
        <li><a href="http://github.com/joedayz/" shape="rect">GitHub</a></li>

      </ul>
    </div>


    <div class="col-md-2">
      <ul>
        <li><a routerLink="/contacto/" shape="rect"><b>CONTÁCTENOS</b></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li><a href="https://twitter.com/joedayz" target="_blank" shape="rect">
          <img class="img-responsive" src="assets/img/red01.gif" alt="twitter" />
        </a></li>
        <li><a href="https://www.facebook.com/JoeDayzAcademy" target="_blank" shape="rect"> <img class="img-responsive" src="assets/img/red02.gif" alt="facebook" />
        </a></li>
        <li><a href="http://www.youtube.com/user/joedayzperu" target="_blank" shape="rect"> <img class="img-responsive" src="assets/img/red03.gif" alt="youtube" />
        </a></li>
      </ul>
    </div>
  </div>
  <div class="footer-final col-md-12">
    Copyright &copy; 2018 Team JoeDayz - Todos los derechos reservados <br />Direcci&oacute;n:
    Mz. P Lt 29, Urb. Los Pr&oacute;ceres <br />Ventanilla, Callao -
    Perú
  </div>
</div>

