@import url(http://fonts.googleapis.com/css?family=Inconsolata);
.carrusel{
	background-color: white;
	height: auto;
	max-height: 457px;
	width: 100%;
}

.carousel-caption {
	text-align: left;
	min-height: 400px;
	height: auto;
	width: 400px;
	left: 5%;
	text-shadow: none;
	top: 25%;
}

.carousel-caption span{
	font-family: "New Cicle Gordita";
	font-size: 45.83px;
	line-height: 41.67px;
}

.carousel-caption h4{
	width: 340px;
}

.portada-titulo{
	color: #3BBDD7;
}

.portada-subtitulo{
	color:	#A3CFEF;
	font-family: "New Cicle Gordita";
	font-size: 31.25px;
	line-height: 33.33px;
}

.portada-descripcion{
	color: #6CADD7;
}

.imagenes-Home{
	width: 100%;
}

.contenedor{
	background-color: white;
	min-height: 720px;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.contenedor .col-md-7{
	background-color: white;
	padding: 17px 10px 10px 15px;
}

.contenedor .col-md-5{
	background-color: white;
	padding: 17px 15px 10px 10px;
}

.curso-title{
	color:	#9fca59;
	font-family: "New Cicle Gordita";
	font-size: 25px;
}

.curso-articulo{
	height: auto;
	min-height: 140px;
	padding-top: 20px;
	text-align: left;
}

.curso-articulo .col-md-2{
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 21px;
}

.curso-articulo .col-md-10{
	padding-top: 5px;
}

.curso-fecha-mes{
	color: #7B757F;
	font-family: "Open Sans Bold";
	font-size: 12pt;
	margin: 0px;
}

.curso-fecha-numero{
	color:	#8DC540;
	font-family: "Open Sans Bold";
	font-size: 21pt;
	padding-top: 10px;
	line-height: 1em;
}

.cuadrado-fecha{
	background-color: #DAEBC1;
	height: auto;
	max-height: 60px;
	max-width: 72px;
	padding-top: 6px;
	text-align: center;
	width: auto;
}

.curso-titulo{
	color: #90c23f;
	font-family:  "Open Sans Bold";
	font-size: 14.58px;
}

.curso-descripcion{
	color: #787878;
	font-family: "Open Sans Regular";
	font-size: 12.5px;
	padding-top: 8px;
}

.curso-descripcion a {
    color: #9FCA59;
    text-decoration: none;
}

.multimedia-title{
	color:	#f8b133;
	font-family: "New Cicle Gordita";
	font-size: 25px;
}

.multimedia-video-titulo{
	color: #000101;
	font-family: "New Cicle Gordita";
	font-size: 25px;
	padding-left: 15px;
}

.video{
	height: 350px;
	background-color: #dddddd;
	padding-top: 24px;
}

.video .col-md-12{
	height: 90%;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 6px;
}

.videos-joedayz{
	height: 95%;
	width: 100%;
}

.blog{
	margin-top: 20px;
}

.blog .col-md-12{
	padding-top: 10px;
	text-align: left;
	background-color: #f5f5f5;
	padding-bottom: 45px;
}
.blog-fecha{
	color: #5b5b5b;
	font-family: "Open Sans Regular";
	font-size: 16.67px;
}
.blog-titulo{
	color: #35a1b5;
	font-family: "Open Sans Bold";
	font-size: 16.67px;
	margin-bottom: 7px;
	display: block;
}

.blog-autor{
	color: #383838;
	font-family: "Open Sans Italic";
	font-size: 14.58px;
	line-height: 12.5px
}
.blog-more{
	color: #35a1b5;
	font-family: "Open Sans Bold";
	line-height: 1.2em;
	margin-bottom: 7px;
	display: block;
	font-size: 10pt;
}
.blog-more:hover{
	color: #35a1b5;
}
.blog p{
	color: #515151;
	font-family: "Open Sans Regular";
	padding-top: 12.58px;
}

.title{
	border-top: 5px solid #dddbda;
	border-bottom: 5px solid #dddbda;
}
.title h1{
	padding-left: 15px;
	color: #fff;
	font-family: letrasTitle;
	font-size: 34px;
	margin: 5px 0;
	text-transform: uppercase;
	line-height: 1em;
}
h4{
	font-size: 18px;
	font-family: 'letrasDescripcionCurso';
	margin: 0;
}

.detalles{
	font-family: "Open Sans Bold";
	font-size: 14.58px;
	margin: 0;
}

blockquote p{
	color: #000;
	font-family: "Open Sans Regular";
	font-size: 12.5px;
}
	
.cursos article{
	margin-bottom: 35px;
	border-top: 2px dotted #c6c6c6;
	border-bottom: 2px dotted #c6c6c6;
	padding-right: 30px;
}
.cursos article header{
	background: none;
}
.cursos article h1{
	font-family: "Open Sans Bold";
	font-size: 25px;
	line-height: 22.92px;
	margin: 10px 0;

}
.cursos article h2{
	font-family: "Open Sans Bold";
	font-size: 14.58px;
	line-height: 22.92px;
	margin-top: 10px;
	margin-bottom: 0;
	padding: 3px 0px;
}
.cursos article a{
	font-family: "Open Sans Regular";
}
.cursos article p{
	color: #787878;
	font-family: "Open Sans Regular";
	font-size: 14.58px;
	line-height: 22.92px;
	margin-bottom: 10px;
}
.cursos article ul{
	color: #787878;
	font-family: "Open Sans Regular";
	font-size: 14.58px;
	line-height: 22.92px;
	margin-bottom: 5px;
	padding-left: 18px;
}
/*cursos*/
	.cursos .title{
		background: #90c13f url(../img/fondo-curso.png) right repeat-y;
	}
	.cursos .title h1{
		background: url(../img/icon-curso.png) 15px center  no-repeat;
		padding-left: 40px;
	}
	.cursos .contenedor .col-md-5{
		padding: 15px;
	}
	.cursos .contenedor .col-md-7{
		padding: 15px;
	}
	.cursos aside{
		position: relative;
		border-top: 1px solid #bababa;
	}
	.cursos aside>span:first-child{
		position: absolute;
		background: #8cc63f;
		width: 32px;
		height: 32px;
		display: table;
		text-align: center;
		vertical-align: middle;
		color: #fff;
		font-family: 'Inconsolata', sans-serif;
		font-size: 25px;
		line-height: 1.3em;
	}
	.cursos aside{
		font-family: "Open Sans Regular";
	}
	.cursos aside>blockquote{
		border: 0;
		margin: 20px 0;
		padding: 0px 10px 0 50px;
		font-size: 12px;
	}
	.cursos aside>blockquote.resaltado{
		border-top: 2px dotted #c6c6c6;
		border-bottom: 2px dotted #c6c6c6;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.cursos aside>blockquote.resaltado h4{
		color: #c23f3f;
	}
	.cursos h4{
		color: #88af48;
	}
	.cursos article a{
		color: #88af48;
	}
/*cursos*/
.title-list{
	background-color: #90c23f;
	font-family: "New Cicle Gordita";
	font-size: 35px;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	padding: 3px 15px;
}
section{
 clear: both;
}
.curso-fecha{
	font-size: 13.4px;
	font-weight: bold;
}




