<!-- Inicio del Cuerpo-->
<div>

  <div class="cuerpo cursos">
    <div class="corpus">
      <div class="title">
        <h1>CONTACTENOS</h1>
      </div>
      <div class="contenedor">
        <div class="col-md-3"></div>
        <div class="col-md-7">
          <article>
            <h1>Nuestras Oficinas</h1>

            <section class="texto letraVerde borde_arriba negrita ">CALLAO</section>

            <section class="texto letraVerde negrita">Ventanilla</section>
            <section class="texto">
              Urb. Los Proceres Mz. P Lt. 29 <br />
            </section>
            <section class="borde_arriba texto negrita">Horario de
              atenci&oacute;n:</section>
            <section class="texto">
              Lunes a Viernes de 09:00 a 18:00<br />
            </section>
            <section class="texto">
              977448490<br />
            </section>
            <section class="texto espacioAbajo">
              informes@joedayz.pe<br />
            </section>

          </article>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- Fin del Cuerpo-->
