<!-- Inicio del Cuerpo-->
<div>

  <div class="cuerpo cursos">
    <div class="corpus">
      <div class="title cursos">
        <h1>Cursos</h1>
      </div>
      <div class="contenedor">
        <div class="col-md-5">
          <aside>
            <span>i</span>
            <blockquote>
              <h4 class="detalles">Duraci&oacute;n del curso</h4>
              <span>Del 3 de Agosto al 30 Noviembre del 2018</span>
            </blockquote>
            <blockquote>
              <h4 class="detalles">Horarios</h4>
              <span>Descargue Syllabus y vea el horario por curso</span>
            </blockquote>
            <blockquote>
              <h4 class="detalles">Fecha de inscripci&oacute;n</h4>
              <span>Hasta el 02 Agosto 2018</span>
            </blockquote>
            <blockquote>
              <h4 class="detalles">N&uacute;mero de participantes</h4>
              <p>25</p>
            </blockquote>
            <blockquote>
              <h4 class="detalles">Costo (S/.)</h4>
              <p>1300.00</p>
            </blockquote>

            <blockquote>
              <h4 class="detalles">Formas de pago</h4>
              <p>
                Puedes depositar directamente a estas cuentas:<br /> Banco de
                Cr&eacute;dito 191-30759925-0-29<br /> BBVA
                0011-0339-0200168694<br /> InterBank 089-304163926-0<br />
                Scotiabank 174-0055213<br /> y enviarnos el voucher al e-mail:<br />
                jose.diaz@joedayz.pe<br />

              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="cmd" value="_xclick" /> <input type="hidden" name="business" value="jamdiazdiaz@gmail.com" />
                <input type="hidden" name="item_name" value="Diplomado Java Empresarial 2018" /> <input type="hidden" name="item_number" value="61" /> <input type="hidden" name="quantity" id="CANTIDADPAYPAL" value="1" />
                <input type="hidden" name="discount_amount" id="DESCUENTOPAYPAL" value="0" /> <input type="hidden" name="amount" id="MONTOPAYPAL" value="379.01" />
                <input type="hidden" name="page_style" value="primary" /> <input type="hidden" name="no_shipping" value="1" /> <input type="hidden" name="return" id="returnpaypal" value="http://www.joedayz.pe/paypal/gracias" /> <input type="hidden" name="rm" value="2" /> <input type="hidden" name="no_note" value="1" /> <input type="hidden" name="currency_code" value="USD" /> <input type="hidden" name="cn" value="PP-BuyNowBF" /> <input type="hidden" name="custom" value="" /> <input type="hidden" name="lc" value="es" />
                <button class="btn btn-default" id="btnPagar" type="submit">
                  <b>Pagar con paypal</b>
                </button>
              </form>
            </blockquote>

            <blockquote class="resaltado">
              <h4 class="detalles">Ahora Regístrate</h4>

              <p>
                Al hacerte miembro de <strong>Joe Dayz Academy</strong><br />
                te beneficiarás de tarifas reducidas.
              </p>
            </blockquote>



          </aside>
        </div>

        <div class="col-md-7">
          <article>
            <header>
              <h1>
                <span>Diplomado Java Empresarial</span>
              </h1>
            </header>
            <section>
              <h2>De qué se trata</h2>
              <p>Diplomado Java Empresarial para aplicaciones con arquitectura de microservicios. Cubre Java EE 8, Spring Boot y Cloud, Java 8, Angular 6, Vue.JS, Android, MongoDB y como Bonus temas de Devops, IOS y Oracle PLSQL. </p>

              <h2>Temas</h2>
              <ul>

              </ul>


              <h2>Pre-requisitos</h2>

              <span></span>

              <h2>Dirigido a</h2>

              <p>25</p>

              <h2>Metodología</h2>

              <p>Clases en linea con instructor en vivo, video cursos para fin de semana y proyectos demo con código </p>

              <h2>Syllabus</h2>

              <p>
                <a target="_blank" shape="rect" href="https://www.dropbox.com/s/xijxsrypxoe88gn/Diplomado2018.zip?dl=0">Descarga</a>
                el Syllabus con informaci&oacute;n detallada del curso
              </p>

              <h2>Instructor</h2>

              <p>Staff JoeDayz</p>
            </section>
          </article>


        </div>
      </div>



    </div>
  </div>

</div>
<!-- Fin del Cuerpo-->
