<!-- Inicio del Cuerpo-->
<div>

  <div class="cuerpo cursos">
    <div class="corpus">
      <div class="title">
        <h1>QUIENES SOMOS</h1>
      </div>
      <div class="contenedor">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <article>
            <h1>Jos&eacute; D&iacute;az</h1>
            <section class="descEmpresa">
              Ingeniero Informatico de la PUCP, Fundador de JoeDayz.pe en el a&ntilde;o 2007. Cuenta con 16 a&ntilde;os de experiencia desarrollando software empresarial
              transaccional con manejo de grandes volumenes de datos e integraci&oacute;n con sistemas legados o
              de terceros (SalesForce, SAP, SUNAT, etc). Especializaci&oacute;n en desarrollo web y m&oacute;vil con foco
              en la plataforma Java EE. Ha participado en proyectos en Per&uacute;, M&eacute;xico, Brasil y USA y cuenta con una gran
              reputaci&oacute;n en la comunidad Java a nivel internacional siendo hasta la fecha JUG Leader de Per&uacute;.
              <br />
              E-mail: jose.diaz@joedayz.pe  | Tel&eacute;fono: 977448524
            </section>

            <h1>Miryan Ramirez</h1>
            <section class="descEmpresa">
              Fundadora y Gerente General de JoeDayz.pe, define las estrategias de la compa&ntilde;ia y conduce al equipo a cumplir
              los objetivos estrat&eacute;gicos planteados. Encargada de Finanzas y Recursos Humanos.
              <br />
              E-mail: miryan.ramirez@joedayz.pe  | Tel&eacute;fono: 977448490
            </section>



          </article>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- Fin del Cuerpo-->
