<!-- Inicio del Cuerpo-->
<div>

  <div class="cuerpo">
    <div class="corpus">
      <div class="carrusel hidden-xs">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">

            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>


            <li data-target="#carousel-example-generic" data-slide-to="1"></li>


            <li data-target="#carousel-example-generic" data-slide-to="2"></li>


            <li data-target="#carousel-example-generic" data-slide-to="3"></li>

          </ol>
          <div class="carousel-inner">
            <div class="item">
              <img class="imagenes-Home" src="assets/img/foto1.jpg" alt="foto" />
              <div class="carousel-caption">
                <span></span>
                <h4 class="portada-subtitulo"></h4>
              </div>
            </div>
            <div class="item active">
              <img class="imagenes-Home" src="assets/img/foto2.jpg" alt="foto" />
              <div class="carousel-caption">
                <span></span>
                <h4 class="portada-subtitulo"></h4>
              </div>
            </div>
            <div class="item">
              <img class="imagenes-Home" src="assets/img/foto3.jpg" alt="foto" />
              <div class="carousel-caption">
                <span></span>
                <h4 class="portada-subtitulo"></h4>
              </div>
            </div>
            <div class="item">
              <img class="imagenes-Home" src="assets/img/foto4.jpg" alt="foto" />
              <div class="carousel-caption">
                <span></span>
                <h4 class="portada-subtitulo"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor">
        <div class="col-md-7">

          <!-- Cursos Presenciales -->
          <section>
            <span class="curso-title">no puedes perderte</span>
            <h2 class="title-list">Cursos presenciales</h2>

            <div class="curso-articulo">
              <img class="img-responsive imagenes-Home hidden-xs" alt="linea" src="assets/img/linea%20punteada.gif" />
              <div class="col-md-5">

                <div class="curso-fecha">
                  <span>Del 06 de Octubre al 01 de Diciembre 2018</span><br />
                </div>
                <div class="curso-descripcion">
                  <span>Sábados de 09:30 a 13:30</span>
                </div>
              </div>
              <div class="col-md-7">
                <article>
                  <span class="curso-titulo"><span>Spring Boot y Spring Cloud</span></span>

                  <div class="curso-descripcion">
                    <span>Spring Boot y Spring Cloud</span><br />
                    <a shape="rect" href="/curso/curso-presencial-spring-boot-y-spring-cloud">Informate
                      aqu&iacute;</a>
                  </div>
                </article>
              </div>
            </div>

          </section>


          <section>
            <h2 class="title-list">Cursos en l&iacute;nea</h2>

            <div class="curso-articulo">
              <img class="img-responsive imagenes-Home hidden-xs" alt="linea" src="assets/img/linea%20punteada.gif" />
              <div class="col-md-5">

                <div class="curso-fecha">
                  <span>Del 02 Octubre al 06 de Noviembre 2018</span>
                  <br />
                </div>
                <div class="curso-descripcion">
                  <span>Martes y Jueves de 21:00 a 23:00</span>
                </div>

              </div>
              <div class="col-md-7">
                <article>
                  <span class="curso-titulo"><span>Oracle PL/SQL</span><br /></span>

                  <div class="curso-descripcion">
                    <span>Oracle PL/SQL 11G y 12G</span><br />
                    <a shape="rect" href="/curso/curso-online-oracle-plsql">Informate
                      aqu&iacute;</a>
                  </div>
                </article>
              </div>
            </div>

            <div class="curso-articulo">
              <img class="img-responsive imagenes-Home hidden-xs" alt="linea" src="assets/img/linea%20punteada.gif" />
              <div class="col-md-5">

                <div class="curso-fecha">
                  <span>Del 3 de Agosto al 30 Noviembre del 2018</span>
                  <br />
                </div>
                <div class="curso-descripcion">
                  <span>Descargue Syllabus y vea el horario por curso</span>
                </div>

              </div>
              <div class="col-md-7">
                <article>
                  <span class="curso-titulo"><span>Diplomado Java Empresarial 2018</span><br /></span>

                  <div class="curso-descripcion">
                    <span>Diplomado Java Empresarial para aplicaciones con arquitectura de microservicios. Cubre Java EE 8, Spring Boot y Cloud, Java 8, Angular 6, Vue.JS, Android, MongoDB y como Bonus temas de Devops, IOS y Oracle PLSQL. </span><br />
                    <a shape="rect" href="/curso/diplomado-java-empresarial-online-2018">Informate
                      aqu&iacute;</a>
                  </div>
                </article>
              </div>
            </div>

            <div class="curso-articulo">
              <img class="img-responsive imagenes-Home hidden-xs" alt="linea" src="assets/img/linea%20punteada.gif" />
              <div class="col-md-5">

                <div class="curso-fecha">
                  <span>Del 12 Octubre al 10 Diciembre 2018</span>
                  <br />
                </div>
                <div class="curso-descripcion">
                  <span>Lunes y Viernes de 9:30 PM a 11:00 PM</span>
                </div>

              </div>
              <div class="col-md-7">
                <article>
                  <span class="curso-titulo"><span>Diplomado Frontend: Angular 6 y VueJS</span><br /></span>

                  <div class="curso-descripcion">
                    <span>Angular 6 y VueJS</span><br />
                    <a shape="rect" href="/curso/curso-online-angular-vuejs">Informate
                      aqu&iacute;</a>
                  </div>
                </article>
              </div>
            </div>


          </section>

        </div>
        <div class="col-md-5">
          <section>
            <span class="multimedia-title">muy interesante</span> <img class="img-responsive imagenes-Home" src="assets/img/t-multi.gif" alt="multimedia" />

            <article class="video">

              <span class="multimedia-video-titulo">JoeDayz Agosto 2016</span>

              <div class="col-md-12">
                <iframe class="videos-joedayz" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/Q4vveoRxGMI"></iframe>
              </div>
            </article>

            <article class="video">

              <span class="multimedia-video-titulo">Spring Cloud</span>

              <div class="col-md-12">
                <iframe class="videos-joedayz" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/SZPlJZHsMnY"></iframe>
              </div>
            </article>


          </section>

          <section>
            <article class="blog">

              <img class="img-responsive imagenes-Home" src="assets/img/t-blog.gif" alt="blog" />



              <div class="col-md-12">
                <span class="blog-fecha">1470715200000</span>
                <span class="blog-titulo">Lo nuevo en Intellij IDEA 2016.2 para Spring Developers</span>
                <span class="blog-autor">Jose Diaz</span>

                <p>Nuevo soporte de Spring en Intellij IDEA 2016.2</p>
                <a class="blog-more" target="_blank" shape="rect" href="http://blog.joedayz.pe/post/148663310100/lo-nuevo-en-intellij-idea-20162-para-spring">leer m&aacute;s</a>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Fin del Cuerpo-->
