<!-- Inicio Navegacion -->
<nav>
  <div class="navbar navbar-default yamm" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a href="http://www.joedayz.pe" shape="rect"> <img class="img-responsive" src="assets/img/logo.gif" alt="logo" />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" shape="rect">CURSOS PRESENCIALES<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <ul class="col-sm-4 list-unstyled">


                    <li><a shape="rect" routerLink="/curso-presencial-oracle-plsql-11g">Oracle PL/SQL 11G</a> </li>


                    <li><a shape="rect" routerLink="/curso-presencial-oracle-java8-associate">Preparación para Certificación Java 8 Associate</a></li>

                    <li><a shape="rect" routerLink="/curso-presencial-spring-boot-y-spring-cloud">Spring Boot y Spring Cloud</a></li>

                  </ul>
                </div>
              </li>
            </ul></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" shape="rect">CURSOS ONLINE<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">

                  <ul class="col-sm-4 list-unstyled">


                    <li><a shape="rect" routerLink="/diplomado-online-angular-y-vuejs">Diplomado Frontend: Angular 6 y VueJS</a></li>

                    <li><a shape="rect" routerLink="/diplomado-online-java">Diplomado Java Empresarial</a></li>

                    <li><a shape="rect" routerLink="/diplomado-online-net">Diplomado NET Empresarial</a></li>

                    <li><a shape="rect" routerLink="/curso-online-oracle-java8-associate">Oracle Java 8 Associate</a></li>

                    <li><a shape="rect" routerLink="/curso-online-spring-boot-y-spring-cloud">Spring Boot y Spring Cloud</a></li>

                    <li><a shape="rect" routerLink="/curso-online-spring-professional-certification">Spring Professional Certification</a></li>



                  </ul>


                </div>
              </li>
            </ul></li>


          <li><a routerLink="/campus/" shape="rect">CAMPUS.JOEDAYZ.PE</a></li>

          <li><a routerLink="/joefact/" shape="rect">JOEFACT</a></li>

          <!--<li><a href="/hangouts/" shape="rect">HANGOUTS</a></li>-->

          <li><a href="http://blog.joedayz.pe" shape="rect">BLOG</a></li>

          <li><a routerLink="/contacto/" shape="rect">CONTÁCTENOS</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Fin Navegacion-->
