<header>
  <form class="hidden-xs" method="get" enctype="application/x-www-form-urlencoded">
    <input type="search" class="form-control buscador" Placeholder="Buscar" name="busqueda" />
  </form>
  <a href="http://www.youtube.com/user/joedayzperu" target="_blank" shape="rect">
    <img src="assets/img/red3.gif" class="img-responsive" alt="youtube" /></a>
  <a href="https://www.facebook.com/JoeDayzAcademy" target="_blank" shape="rect">
    <img class="img-responsive" src="assets/img/red2.gif" alt="facebook" /></a>
  <a href="https://twitter.com/joedayz" target="_blank" shape="rect">
    <img class="img-responsive" src="assets/img/red1.gif" alt="twitter" /></a>
</header>
